crypto ikev2 proposal ikev2-proposal-{{tunnel_name}}
    no encryption aes-cbc-256 aes-cbc-192 aes-cbc-128
    no integrity sha256
    no group 16
no crypto ikev2 proposal ikev2-proposal-{{tunnel_name}}
