crypto ipsec profile  ipsec-profile-{{tunnel_name}}
    set security-association lifetime seconds 28800
    set security-policy limit 1 
    set transform-set transform-set-{{tunnel_name}}
    set ikev2-profile ikev2-peer-profile-{{tunnel_name}}